<% if cookies[:language] == "eng" %>
    <div class="container">
      <div class="row">
        <div class="span2 service-list-car sr-list-txt" ><img src="<%= asset_path('car.png') %>" alt=""><a href="/services/18" style="margin: 0 34px;">Trucking</a></div>
        <div class="span2 service-list-bag sr-list-txt" ><img src="<%= asset_path('bag.png') %>" alt=""><a href="/services/17" style="margin: 0 34px;">Multimodal</a></div>
        <div class="span2 service-list-water sr-list-txt" ><img src="<%= asset_path('water.png') %>" alt=""><a class="watter" href="/services/16" style="margin: 0 40px;">Sea</a></div>
        <div class="span2 service-list-train sr-list-txt" ><img src="<%= asset_path('train.png') %>" alt="" style="width: 90px;"><a style="margin: 0 40px;">Rail</a></div>
        <div class="span2 service-list-air sr-list-txt" ><img src="<%= asset_path('air.png') %>" alt=""><a style="margin: 0 40px;">Air</a></div>
        <div class="span2 service-list-letter sr-list-txt"><img src="<%= asset_path('letter.png') %>" alt=""><a>documentation</a></div>
      </div>
    </div>
<% elsif cookies[:language] == "rus"  %>
    <div class="container">
      <div class="row">
        <div class="span2 service-list-car sr-list-txt"><img src="<%= asset_path('car.png') %>" alt=""><a href="/services/18">Автоперевозки</a></div>
        <div class="span2 service-list-bag sr-list-txt"><img src="<%= asset_path('bag.png') %>" alt=""><a href="/services/17">мультимодальные</a></div>
        <div class="span2 service-list-water sr-list-txt"><img src="<%= asset_path('water.png') %>" alt=""><a class="watter" href="/services/16">морские</a></div>
        <div class="span2 service-list-train sr-list-txt"><img src="<%= asset_path('train.png') %>" alt="" style="width: 90px;"><a>железнодорожные</a></div>
        <div class="span2 service-list-air sr-list-txt"><img src="<%= asset_path('air.png') %>" alt=""><a>авиаперевозки</a></div>
        <div class="span2 service-list-letter sr-list-txt"><img src="<%= asset_path('letter.png') %>" alt=""><a>документация</a></div>
      </div>
    </div>
<% elsif cookies[:language] == "ukr"  %>
    <div class="container">
      <div class="row">
        <div class="span2 service-list-car sr-list-txt"><img src="<%= asset_path('car.png') %>" alt=""><a href="/services/18">Автоперевезення</a></div>
        <div class="span2 service-list-bag sr-list-txt"><img src="<%= asset_path('bag.png') %>" alt=""><a href="/services/17">Мультимодальні</a></div>
        <div class="span2 service-list-water sr-list-txt"><img src="<%= asset_path('water.png') %>" alt=""><a class="watter" href="/services/16">морські</a></div>
        <div class="span2 service-list-train sr-list-txt"><img src="<%= asset_path('train.png') %>" alt="" style="width: 90px;"><a>залізничні</a></div>
        <div class="span2 service-list-air sr-list-txt"><img src="<%= asset_path('air.png') %>" alt=""><a>авиаперевозки</a></div>
        <div class="span2 service-list-letter sr-list-txt"><img src="<%= asset_path('letter.png') %>" alt=""><a>документація</a></div>
      </div>
    </div>
<% elsif cookies[:language] == "de"  %>
    <div class="container">
      <div class="row">
        <div class="span2 service-list-car sr-list-txt" ><img src="<%= asset_path('car.png') %>" alt=""><a href="/services/18" style="margin: 0 34px;">Trucking</a></div>
        <div class="span2 service-list-bag sr-list-txt" ><img src="<%= asset_path('bag.png') %>" alt=""><a href="/services/17" style="margin: 0 34px;">Multimodal</a></div>
        <div class="span2 service-list-water sr-list-txt" ><img src="<%= asset_path('water.png') %>" alt=""><a class="watter" href="/services/16" style="margin: 0 40px;">Meer</a></div>
        <div class="span2 service-list-train sr-list-txt" ><img src="<%= asset_path('train.png') %>" alt="" style="width: 90px;"><a style="margin: 0 34px;">Schiene</a></div>
        <div class="span2 service-list-air sr-list-txt" ><img src="<%= asset_path('air.png') %>" alt=""><a style="margin: 0 40px;">Luft</a></div>
        <div class="span2 service-list-letter sr-list-txt"><img src="<%= asset_path('letter.png') %>" alt=""><a style="margin: 0 34px;">Dokumentation</a></div>
      </div>
    </div>
<% else %>
    <div class="container">
      <div class="row">
        <div class="span2 service-list-car sr-list-txt"><img src="<%= asset_path('car.png') %>" alt=""><a href="/services/18">Автоперевозки</a></div>
        <div class="span2 service-list-bag sr-list-txt"><img src="<%= asset_path('bag.png') %>" alt=""><a href="/services/17">мультимодальные</a></div>
        <div class="span2 service-list-water sr-list-txt"><img src="<%= asset_path('water.png') %>" alt=""><a class="watter" href="/services/16">морские</a></div>
        <div class="span2 service-list-train sr-list-txt"><img src="<%= asset_path('train.png') %>" alt="" style="width: 90px;"><a>железнодорожные</a></div>
        <div class="span2 service-list-air sr-list-txt"><img src="<%= asset_path('air.png') %>" alt=""><a>авиаперевозки</a></div>
        <div class="span2 service-list-letter sr-list-txt"><img src="<%= asset_path('letter.png') %>" alt=""><a>документация</a></div>
      </div>
    </div>
<% end %>
