<%= render :partial => 'partials/head' %>
<div id="about" class="background-randoms">
<%= render :partial => 'partials/infobar' %>
<%= container :news_cat %>
</div>
<%= render :partial => 'partials/sponsor' %>
<%= render :partial => 'partials/foot' %>