<%= render :partial => 'partials/head' %>
<div id="service-item" class="background-randoms">
  <%= render :partial => 'partials/infobar' %>
  <%= container :service_item %>
</div>
<%= render :partial => 'partials/sponsor' %>
<%= render :partial => 'partials/foot' %>