<%= render :partial => 'partials/head' %>
<div id="services" class="background-randoms">
  <%= render :partial => 'partials/infobar' %>
  <div class="container service-proverb">
    <div class="row">
      <div class="span8">
        <h2 class="services-h2"><%= container :services_h2 %></h2>
        <p class="services-p"><%= container :services_p %></p>
      </div>
    </div>
  </div> <!-- container service-proverb -->
  <div class="container service-listing">
    <%= container :services_category %>
  </div> <!-- container service-listing -->
</div>
<%= render :partial => 'partials/sponsor' %>
<%= render :partial => 'partials/foot' %>